# Data
data

# Editor
.vscode

# Scala
target
.bloop
.bsp
.metals

# Config
.amazon-reviews-config

# Airflow
__pycache__
airflow.cfg
unittests.cfg
airflow.db
unittests.db
logs/
airflow-webserver.pid
